<h2>
    This is {{name}}
    {{#bs-button action='toggleCollapse'}}
        {{#if collapsed}}
            Display Code
        {{else}}
            Hide Code
        {{/if}}
    {{/bs-button}}
</h2>

{{#bs-collapse collapsed=collapsed}}
    <div class="well">
        {{#bs-tab}}
            {{#each filesToDisplay as |file|}}
                {{#bs-tab-pane title=file}}
                    {{code-snippet name=file}}
                {{/bs-tab-pane}}
            {{/each}}
        {{/bs-tab}}
    </div>
{{/bs-collapse}}

{{yield}}