.ember-application {
  font-family: sans-serif;
}

h3 {
  color: #865931;
}

.topbar {
  top:0;
  left:0;
  width:100%;
  background-color: #e46651;
  color: white;
  padding-top: 20px;
}

#title {
  margin-top: 0;
  text-align: center;
  font-family: "Lucida Calligraphy";
}

#titleImage {
  color: white;
  width: inherit;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  float: left;
  overflow-x: hidden;
  padding-top: 100px;
}

.active-link {
  font-weight: bolder;
}

.active-link::before {
  content: "|  "
}

.sidenav > a {
  display: block;
  padding-left: 16px;
  text-decoration: none;
  color: #865931;
  font-weight: bold;
}

.content {
  padding-left: 200px;
  padding-bottom: 20px;
}

.prev-button {
  float: left;
  background-color: #865931;
}

.next-button {
  float: right;
  background-color: #865931;
}
